/* GENERAL PAGE */
body {
  background: url("../images/massages.jpg") no-repeat fixed;
  background-size: cover;
  font-family: "Poppins", "Montserrat", Verdana, sans-serif;
  font-size: 0.8em;
}

/*SOINS*/
.soins {
  max-width: 100%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.soins__img {
  border: 4px solid black;
  border-radius: 5px;
}
.soins__title {
  font-family: "Kristi", "Bilbo Swash Caps", "Tangerine", Verdana, sans-serif;
  font-size: 5em;
  line-height: 45px;
}
.soins__description {
  background-color: rgba(250, 250, 250, 0.7);
  border: 2px solid #503f6e;
  border-radius: 5px;
  font-size: 1.2em;
  padding: 10px 40px;
  text-align: justify;
}
.soins__description h2 {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.3em;
  color: #503f6e;
}

.detente {
  margin: 0 20px 200px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
.detente__img {
  margin-left: 20px;
}
.detente__description {
  position: absolute;
  top: 60%;
  left: 40%;
  min-width: 40%;
  max-width: 100%;
}
.detente__title {
  -webkit-animation: titre1 6s ease-in-out alternate infinite;
          animation: titre1 6s ease-in-out alternate infinite;
  margin-top: 50px;
  margin-left: 20px;
}

.massages {
  margin: 0 0 200px 0 !important;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}
.massages__box {
  margin-bottom: 100px;
}
.massages__img {
  margin-right: 20px;
}
.massages__description {
  position: absolute;
  top: 60%;
  right: 40%;
  min-width: 50%;
  max-width: 100%;
}
.massages__title {
  animation: titre2 6s ease-in-out alternate-reverse infinite;
  margin-right: 20px !important;
  margin-top: 50px;
}
.massages__price {
  font-style: italic;
}
.massages__btn {
  display: block;
  margin: auto;
}
.massages__details {
  position: absolute;
  top: 110%;
  right: 30%;
  width: 50%;
  border-radius: 5px;
  visibility: hidden;
  background-color: #FFF;
  padding: 10px;
  font-size: 0.9em;
  font-style: italic;
  z-index: 10000;
}
.massages__details h3 {
  font-size: 1.1em;
  font-weight: bold;
}
.massages__details ul {
  margin-bottom: 0 !important;
}
.massages__close {
  position: absolute;
  top: 5%;
  right: 5%;
}

/* ANIMATIONS DES TITRES */
@-webkit-keyframes titre1 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(30%);
  }
}
@keyframes titre1 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(30%);
  }
}
@-webkit-keyframes titre2 {
  0% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes titre2 {
  0% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes titre1tablette {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(20%);
  }
}
@keyframes titre1tablette {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(20%);
  }
}
@-webkit-keyframes titre2tablette {
  0% {
    transform: translateX(-15%);
  }
  100% {
    transform: translateX(-5%);
  }
}
@keyframes titre2tablette {
  0% {
    transform: translateX(-15%);
  }
  100% {
    transform: translateX(-5%);
  }
}
@-webkit-keyframes titre2tablettegrande {
  0% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(-5%);
  }
}
@keyframes titre2tablettegrande {
  0% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(-5%);
  }
}
/* MEDIA QUERIES---------------------------------------------------------------------*/
/* MEDIA QUERIES POUR ADAPTER LE SITE A UN ECRAN TABLETTE ------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .detente__title {
    margin-left: 20px;
    font-size: 4em;
    -webkit-animation: titre1tablette 5s ease-in-out alternate infinite;
            animation: titre1tablette 5s ease-in-out alternate infinite;
  }

  .massages__title {
    margin-right: -10px !important;
    font-size: 4em;
    max-width: 200px;
    animation: titre2tablette 3s ease-in-out alternate-reverse infinite;
  }
}
/* MEDIA QUERIES POUR GRANDE TABLETTE : AFFINER L'ANIMATION------------------------------*/
@media only screen and (min-width: 900px) and (max-width: 1024px) {
  .massages__title {
    max-width: 200px;
    animation: titre2tablettegrande 4s ease-in-out alternate-reverse infinite;
  }
}
/*MEDIA QUERIES POUR ADAPTER LE SITE A UN ECRAN SMARTPHONE -----------------------------------------------*/
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .detente, .massages, .detente__box, .massages__box, .soins__img, .soins__description, .detente__img, .massages__img {
    margin: 0 !important;
    margin: 0 !important;
  }

  .soins__img {
    display: block;
    margin: auto !important;
  }
  .soins__title {
    line-height: 30px;
    font-size: 4em;
    margin-bottom: 30px;
    margin-top: 0;
  }
  .soins__description {
    font-size: 1em;
    margin: 40px !important;
  }
  .soins__description h2 {
    font-size: 1.1em;
  }

  .detente {
    flex-direction: column-reverse;
    align-items: center;
  }
  .detente__description {
    position: static;
  }
  .detente__title {
    -webkit-animation: none;
            animation: none;
    margin-top: 20px;
    margin-left: 0px;
  }

  .massages {
    flex-direction: column;
    align-items: center;
  }
  .massages__description {
    position: static;
  }
  .massages__title {
    -webkit-animation: none;
            animation: none;
    margin-right: 0px !important;
    margin-top: 20px;
  }
  .massages__details {
    position: absolute;
    top: 80%;
    right: 25%;
    width: 50%;
  }
}/*# sourceMappingURL=clos-massages.css.map */